<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ tagline }}{% endblock %}</title>
        <meta name="description" content="{{ description }}" />

        <meta name="google-site-verification" content="WmxttuUnBCQyKtH5YEnd8eOM8ls_GLKEWwm4ujAAnbU" />

        <meta name="og:title" content="{{ tagline }}"/>
        <meta name="og:description" content="{{ description }}"/>
        <meta name="og:image" content="{{ asset('images/app/images/fb-banner.png') }}" />
        <meta name="fb:app_id" content="{{ facebook_app_id }}"/>
        <meta name="og:url" content="http://piggy.bike/"/>

        <meta name="twitter:title" content="{{ tagline }}"/>
        <meta name="twitter:description" content="{{ description }}"/>
        <meta name=”twitter:card” content=”summary” />
        <meta name=”twitter:image” content=”{{ asset('images/app/images/melbourne-smaller.png') }}” />

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/web/main.css') }}"/>
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="http://classic.avantlink.com/affiliate_app_confirm.php?mode=js&authResponse=46a7b43ca8603449d21d0fc7f8d58134db34cecf"></script>
        <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
                for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
            mixpanel.init("{{ mixpanel_token }}");</script><!-- end Mixpanel -->
        {% include '_tracking.html.twig' %}
        {% block mixpanel %}
            <script>
                {% if app.user %}
                mixpanel.identify({{ app.user.id }});
                {% endif %}
                {% if app.session.get('MANUAL_REFERRER') is not empty %}
                    mixpanel.register_once({"Source": "{{ app.session.get('MANUAL_REFERRER') }}"});
                    mixpanel.people.set_once({"Source": "{{ app.session.get('MANUAL_REFERRER') }}"});
                {% endif %}
            </script>
        {% endblock mixpanel %}

        {% include '_favicon.html.twig' %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
